body {
    font-family: "Gochi Hand", Montserrat;
}

.navbar {
    text-align: center;

}

.column-1 {
    background-color: lightgrey;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.current, #current {
    margin: 5px;
    border-radius: 5px;
}

#current {
    background-color: #e9ecef;
}

.widest {
    width: 100%;
    background-color: chartreuse;
}

.previous-search {
    margin: auto;
    border-radius: 5px;
}

.forecast-day {
    margin: auto;
    margin-bottom: 5px;
    background-color: #268ae7;
    color: cornsilk;
    border-radius: 5px;
}

