body {
    font-family: "Gochi Hand", Montserrat;
}

.navbar {
    text-align: center;

}

.column-1 {
    background-color: lightgrey;
}

.h-100 {
    height: 100%;
}

.widest{
    width: 100%;
    background-color: chartreuse;
}

.forecast-day {
    margin: auto;
    background-color: blue;
    color: cornsilk;
}